<button class="ui green button">Run</button>
<button class="ui orange button">Pause</button>
<button class="ui purple button">Step</button>
<button class="ui red button">Stop</button>
<button class="ui primary button">Reload</button>
<ace-editor [text]="text" #editor></ace-editor>
<table class="ui celled table">
  <thead><tr>
    <th>Register</th>
    <th>Address</th>
    <th>Value</th>
    <th>Format</th>
  </tr></thead>
  <tbody>
  <tr *ngFor="let register of registers">
    <td><button class="ui button">R{{ register.number }}</button></td>
    <td>{{ register.address }}</td>
    <td>{{ register.value }}</td>
    <td>
      <button class="ui primary button">Binary</button>
      <button class="ui button">Decimal</button>
      <button class="ui button">Hex</button>
    </td>
  </tr>
  </tbody>
</table>
