<div class="architecture" *ngIf="architecture">
  <svg id="arch" xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="viewBox" version="1.1">
    <svg:defs/>
    <svg:g *ngFor="let bus of architecture.bus" [svg-bus]="bus" [tooltip]="bus.data" />
    <svg:g *ngFor="let controller of architecture.controller" [svg-controller]="controller" />
    <svg:g *ngFor="let mux of architecture.mux" [svg-mux]="mux" />
    <svg:g *ngFor="let stage of architecture.stage" [svg-stage]="stage" />
    <svg:g *ngFor="let stageRegister of architecture.stageRegister" [svg-stage-register]="stageRegister" />
  </svg>
  <button (click)="reset()">Reset</button>
</div>
<marinade-bus-table></marinade-bus-table>
<tooltip-container></tooltip-container>
