.architecture
  position: absolute
  width: 100vw
  height: 100vh
  float: right
  overflow: hidden
  padding: 15px
  svg
    height: 100vh
    width: 100vw
    user-select: none
  button
    font-size: 16px
    border-radius: 0
    border: none
    position: fixed
    bottom: 10px
    right: 10px
    padding: 15px 50px
    color: white
    background-color: #444
    &:hover
      color: #444
      background-color: white
    &:focus
      outline: none

marinade-bus-monitor
  position: fixed
  right: 0
  top: 50vh
