<div class="grid-wrapper">
  <div class="sidebar">
    <a [routerLink]="['editor']" routerLinkActive="active">
      <i class="fa fa-code"></i>
    </a>
    <a [routerLink]="['simulator']" routerLinkActive="active">
      <i class="fa fa-microchip"></i>
    </a>
    <a [routerLink]="['memory']" routerLinkActive="active">
        <i class="fa fa-table"></i>
    </a>
    <a [routerLink]="['settings']" routerLinkActive="active">
        <i class="fa fa-cog"></i>
    </a>
    <div class="sidebar-controls">
      <router-outlet name="sidebar"></router-outlet>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
