<!--
<p>
  simulator works!
</p>
<!--
<svg width="60" height="160">
  <polygon points="0,0 50,50 50,100 0,150 0,90 15,75 0,60" style="fill:red;stroke:black;stroke-width:1" />
  <text x="20" y="75" font-family="Verdana" font-size="12" fill="white">ALU</text>
</svg>

<svg width="60" height="160">
  <polygon points="0,0 50,50 50,100 0,150 0,95 15,85 15,65 0,55" style="fill:green;stroke:black;stroke-width:1" />
  <text x="16" y="75" font-family="Verdana" font-size="9" fill="white">ADDER</text>
</svg>

<svg width="60" height="160">
  <polygon points="0,0 50,50 50,100 0,150" style="fill:blue;stroke:black;stroke-width:1" />
  <text x="10" y="75" font-family="Verdana" font-size="12" fill="white">MUX</text>
</svg>

<svg width="60" height="160">
  <polygon points="0,0 50,50 50,100 0,150" style="fill:blue;stroke:black;stroke-width:1" />
  <text x="10" y="75" font-family="Verdana" font-size="12" fill="white">MUX</text>
</svg>

<svg width="60" height="160">
  <polygon points="0,0 0,1000 1000,1000 1000,0 0,0" style="fill:blue;stroke:black;stroke-width:1" />
</svg>

-->

<svg class="architecture" viewBox="0 0 1000 1000" preserveAspectRatio="none" style="background:lightgray"
     xmlns="http://www.w3.org/1999/html">

  <g>
    <rect id="PC" x="50" y="423" width="50" height="226" fill="limegreen" stroke="black">
      <set attributeName="fill-opacity" to="0.5"
           begin="PC.mouseover" end="PC.mouseout"/>
    </rect>
  </g>

  <g>
    <path id="pc_out" d="M 100 534 H 141 M 110 534 V 205 H 141" fill="none" stroke="black" stroke-width="5">
      <set attributeName="stroke" to="red"
         begin="pc_out.mouseover" end="pc_out.mouseout"/>
    </path>
  </g>

  <g>
    <polygon id="PC4" points="138,77 177,115 177,209 138,239 138,171 150,158 138,145 138,77"
             fill="lightblue" stroke="black">
      <set attributeName="fill-opacity" to="0.5"
           begin="PC4.mouseover" end="PC4.mouseout"/>
    </polygon>
  </g>
  
  <path id="pc4_pc" d="M 177 158 H 200 V 60 H 32 V 534 H 50" fill="none" stroke="black" stroke-width="5">
    <set attributeName="stroke" to="red"
         begin="pc4_pc.mouseover" end="pc4_pc.mouseout"/>
  </path>
  <rect id="INSTR_MEM" x="141" y="419" width="91" height="231" fill="red" stroke="black">
    <set attributeName="fill-opacity" to="0.5"
         begin="INSTR_MEM.mouseover" end="INSTR_MEM.mouseout"/>
  </rect>
  <path id="instr" d="M 232 534 H 282 V 222 H 330 M 282 282 H 330 M 282 342 H 330" fill="none"
        stroke-width="5" stroke="black">
    <set attributeName="stroke" to="red"
         begin="instr.mouseover" end="instr.mouseout"/>
  </path>
  <rect id="REGFILE" x="330" y="209" width="73" height="299" fill="limegreen" stroke="black">
    <set attributeName="fill-opacity" to="0.5"
         begin="REGFILE.mouseover" end="REGFILE.mouseout"/>
  </rect>
</svg>

<!--
<div style="height: 20px; background: blue; width:25%;"></div>
<div style="height: 20px; background: red; width:50%;"></div>
<div style="height: 20px; background: black; width:75%;"></div>
<div style="height: 20px; background: orange"></div>
-->
