.architecture
  position: absolute
  width: 100vw
  height: 100vh
  float: right
  background: deepskyblue
  overflow: hidden
  padding: 15px
  svg
    height: 100vh
    width: 100vw
    -webkit-user-select: none  /* Chrome all / Safari all */
    -moz-user-select: none     /* Firefox all */
    -ms-user-select: none
  button
    font-size: 16px
    border-radius: 0
    border: none
    position: absolute
    bottom: 4vh
    right: 1vw
    padding: 15px 50px
    color: white
    background-color: #444
    &:hover
      color: #444
      background-color: white
