/* You can add global styles to this file, and also import other style files */

html, body
  height: 100%
  width: 100%
  overflow: hidden
  color: white
  background: #333

marinade-root
  #project-root
    overflow: hidden
    height: 100vh
  #project-tree
    .item
      padding-right: 0
      .icon
        float: left
        margin-right: 10px

.pusher
  height: 100vh
