/* You can add global styles to this file, and also import other style files */

marinade-root
  #project-tree
    .item
      padding-right: 0
      .icon
        float: left
        margin-right: 10px
